@import "commonstyle.css";

/* Content */
.post-tag > label {
    padding: 6px 10px;
    color: var(--main-orange);
}

.post-tag > a {
    color: #2623df;
    border: 1px solid #2623df;
    padding: 2px 13px;
    text-decoration: none;
}

.post {
    background-color: #fff;
    padding: 15px;
    -webkit-box-shadow: 0px 0px 13px -3px;
            box-shadow: 0px 0px 13px -3px;
    margin-bottom: 20px;
}

.profile-picture {
    width: 50px;
    height: 50px;
}

.post-text > h4 {
    padding: 4px 0px 8px 0px;
    border-bottom: 3px dashed black;
}

.post-text > textarea {
    overflow: auto;
    resize: none;
    border: none;
}

.post-tags {
    display: inline-block;
}

.post-tags > a {
    text-decoration: none;
    color: #2623df;
    border: 1px solid #2623df;
    padding: 2px 13px;
    margin-right: 6px;
    font-size: 12px;
}

.post-links > a {
    color: var(--main-orange);
    text-decoration: none;
    cursor: pointer;
}

.post-links > a:hover {
    color: var(--dark-orange);
}

/* .pagenumber > input:checked + label {
    border-bottom: 4px solid var(--main-orange);
}

.pagenumber > label {
    padding: 3px 12px;
    display: inline-block;
    text-align: center;
    color: black;
    cursor: pointer;
}

.pagenumber > label:hover {
    color: #868686;
} */
/* /Content */