{% extends 'layouts/base.html' %}

{% load static %}

{% block styles %}
<link href="{% static 'css/indexstyle.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="row">
    <nav class="p-0 d-flex flex-nowrap poststype">
        <!-- <input class="btn-check" id="btnradio1" name="poststype" type="radio" checked disabled>
        <label class="fs-3 tab-btn" for="btnradio1">New posts</label> -->

        
        <!-- <input class="btn-check" id="btnradio2" name="poststype" type="radio" disabled>
        <label class="fs-3 tab-btn" for="btnradio2">Hot posts</label> -->

        <p class="fs-3 tab-btn header">New posts</p>
        <a class="fs-5 p-0 pt-2 ms-2 align-text-top" href="{% url 'indexhot' %}">Hot posts</a>
    </nav>
    <div class="mt-3 row">
        <!-- Posts -->
        <div class="col-md-9">
            {% for post in posts %}
            {% include 'components/post.html' with post=post %}
            {% endfor %}
        </div>
        <!-- /Posts -->

        <!-- Sidebar -->
        {% include 'components/sidebar.html' %}
        <!-- /Sidebar -->
    </div>

    <!-- Paginator -->
    {% include 'components/paginator.html' with items=posts %}
    <!-- /Paginator -->
</div>
{% endblock %}