{% extends 'layouts/base.html' %}

{% load static %}

{% block styles %}
<link href="{% static 'css/registerstyle.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="row">
    <nav class="p-0 d-flex flex-nowrap header">
        <p class="fs-3">Register</p>
    </nav>
    <div class="mt-3 row">
        <!-- Form -->
        <div class="ps-5 col-md-9">
            <form class="form row col-lg-4">
                <div class="row alert alert-danger" role="alert">
                    Login alreay exists!
                </div>
                <div class="pe-0 mb-3 row">
                    <p class="row ps-1 mb-2 fs-5">Login</p>
                    <input class="row p-2 fs-6" type="text" placeholder="awesome@mail.ru">
                </div>
                <div class="pe-0 mb-3 row">
                    <p class="row ps-1 mb-2 fs-5">Name</p>
                    <input class="row p-2 fs-6" type="text" placeholder="Awesome443">
                </div>
                <div class="pe-0 mb-3 row">
                    <p class="row ps-1 mb-2 fs-5">Password</p>
                    <input class="row p-2 fs-6" type="password">
                    <div id="emailHelp" class="ps-0 row form-text">Your password must be at least 8 characters</div>
                </div>
                <div class="pe-0 mb-3 row">
                    <p class="row ps-1 mb-2 fs-5">Repeat password</p>
                    <input class="row p-2 fs-6" type="password">
                </div>
                <p class="pe-4 text-end">
                    <input class="px-4 py-2 text-center col fs-5 btn-submit" type="submit" value="Login">
                </p>
            </form>
        </div>
        <!-- /Form -->

        <!-- Sidebar -->
        <aside class="col-sm-3">
            <div class="mb-4 sidebar">
                <h4 class="mb-3">Popular tags</h4>
                <ul class="popular-tags">
                    <li><a href="#">Perl</a></li>
                    <li><a href="#">C++</a></li>
                    <li><a href="#">Python</a></li>
                    <li><a href="#">Go</a></li>
                    <li><a href="#">Rust</a></li>
                    <li><a href="#">C#</a></li>
                    <li><a href="#">Java</a></li>
                    <li><a href="#">SQL</a></li>
                    <li><a href="#">Kotlin</a></li>
                </ul>
            </div>

            <div class="mb-4 sidebar">
                <h4 class="mb-3">Best members</h4>
                <ul class="members">
                    <li><a href="#">Nagibator228</a></li>
                    <li><a href="#">UltraMegaCringe</a></li>
                    <li><a href="#">Abobus</a></li>
                    <li><a href="#">Aristotel</a></li>
                </ul>
            </div>
        </aside>
        <!-- /Sidebar -->
    </div>
</div>
{% endblock %}