{% load static %}

<aside class="col-sm-3">
    <div class="mb-4 sidebar">
        <h4 class="mb-3">Popular tags</h4>
        <ul class="popular-tags">
            <li><a href="{% url 'tag' %}">Perl</a></li>
            <li><a href="{% url 'tag' %}">C++</a></li>
            <li><a href="{% url 'tag' %}">Python</a></li>
            <li><a href="{% url 'tag' %}">Go</a></li>
            <li><a href="{% url 'tag' %}">Rust</a></li>
            <li><a href="{% url 'tag' %}">C#</a></li>
            <li><a href="{% url 'tag' %}">Java</a></li>
            <li><a href="{% url 'tag' %}">SQL</a></li>
            <li><a href="{% url 'tag' %}">Kotlin</a></li>
        </ul>
    </div>

    <div class="mb-4 sidebar">
        <h4 class="mb-3">Best members</h4>
        <ul class="members">
            <li><a href="{% url 'index' %}">Nagibator228</a></li>
            <li><a href="{% url 'index' %}">UltraMegaCringe</a></li>
            <li><a href="{% url 'index' %}">Abobus</a></li>
            <li><a href="{% url 'index' %}">Aristotel</a></li>
        </ul>
    </div>
</aside>